.two-create-discussions {
  display: flex;

  margin-left: 10%;
}
.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.create-rect {
  width: 150px;
  height: 200px;

  margin: 5%;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: white;
  text-align: center;
  padding-top: 10%;
  border-radius: 50%;
  margin: 5%;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.join:hover {
  background-color: #9f94e0;
  color: gold;
}
.create:hover {
  background-color: gold;
  color: #9f94e0;
}
.title {
  margin-left: 10%;
  margin-top: 5%;
}
.create-rect p {
  margin-top: -10%;
  font-family: Monteserrati;
  font-size: 18px;
}
.two-discussion-sector {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 10px;
}
.discussion-space {
  min-width: 250px;
  width: 40%;
  margin-left: 5%;

  height: auto;
  margin-bottom: 5%;
}
.space {
  width: 100%;
  height: fit-content;
  min-height: 200px;
  padding: 5px;
  background-color: white;
  border-radius: 15px;
}
.discussion-space p,
.three-discussion-sector p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.button-post {
  background-color: white;
  width: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.listen-space {
  width: 200px;

  margin-left: 10%;
  margin-bottom: 10px;
}
.space1 {
  min-width: 250px;
  margin-left: 2%;
  width: 35%;
  height: auto;
  margin-bottom: 5%;
}
.three-discussion-sector {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.spaces {
  width: 95%;
  min-width: 250px;
  min-height: 200px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  height: fit-content;
  border-radius: 15px;
}
.listen {
  width: 200px;
  background-color: rgb(227, 236, 227);
  height: 200px;
}
#diff {
  color: wheat;
  font-size: 100px;
  background-color: white;
}
@media (max-width: 500px) {
  .three-discussion-sector {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
  }
  .listen-space {
    margin-left: 5%;
  }
}
